@import "base/import";

:root {
  --color-primary: #229ac8;
  --color-primary-darken: #23a1d1;
  --color-primary-darkenx2: #1f90bb;
  --color-primary-darkenx3: #1f90bb;
  --color-success: #62a600;
  --color-success-darken: #578810;
  --color-success-darkenx2: #578810;
  --color-success-darkenx3: #578810;
  --color-warning: #f26522;
  --color-warning-darken: #d24b09;
  --color-warning-darkenx2: #d24b09;
  --color-warning-darkenx3: #d24b09;
  --color-danger: #e31d27;
  --color-danger-darken: #b61820;
  --color-danger-darkenx2: #b61820;
  --color-info: #546ac0;
  --color-info-darken: #253d9c;
  --color-info-darkenx2: #253d9c;
  --color-default: #eee;
  --color-default-darken: #888;
  --color-default-darkenx2: #666;
  --link-color: #000;
  --padding-button: 15px 45px;
  --default-radius:2px;
  --link-color-hover: var(--color-primary);
  --font-main: open sans,sans-serif;
  --font-size-base: 12px;
  --font-exLight: 100;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 600;
  --font-size-h1: 33px;
  --font-size-h2: 28px;
  --font-size-h3: 25px;
  --font-size-h4: 20px;
  --font-size-h5: 18px;
  --border-base-size: 2px;
  --border-base-style: solid;

}

