$color-text-primary: white;
$color-primary: #229ac8;
$color-text-body: #666;
$color-heading: #444;
$color-link: #23a1d1;
$color-text-primary: white;
$color-primary: #229ac8;
$color-text-body: #666;
$color-heading: #444;
$color-link: #23a1d1;
$font-size-base: 14px;
$font-family: 'Open Sans';
$font-line-height: 1;
$font-headings-family: 'Montserrat';
$font-headings-size-base: 14px;
$font-headings-line-height: 1;
$font-headings-letter-spacing: 1.2;
$font-headings-text-transform: ('bold' ,'italic');
$breakpoints: ('phone': 320px,'phone-wide': 480px,'phablet': 560px,'tablet-small': 640px,'tablet': 769px,'tablet-wide': 991px,'laptop': 1199px,'desktop': 1248px,'desktop-wide': 1440px);
$container-width: 980px;
$color-text-primary: white;
$color-primary: #229ac8;
$color-text-body: #666;
$color-heading: #444;
$color-link: #23a1d1;
$color-text-primary: white;
$color-primary: #229ac8;
$color-text-body: #666;
$color-heading: #444;
$color-link: #23a1d1;
$font-size-base: 14px;
$font-family: 'Open Sans';
$font-line-height: 1;
$font-headings-family: 'Montserrat';
$font-headings-size-base: 14px;
$font-headings-line-height: 1;
$font-headings-letter-spacing: 1.2;
$font-headings-text-transform: ('bold' ,'italic');
$breakpoints: ('phone': 320px,'phone-wide': 480px,'phablet': 560px,'tablet-small': 640px,'tablet': 769px,'tablet-wide': 991px,'laptop': 1199px,'desktop': 1248px,'desktop-wide': 1440px);
$container-width: 980px;
$button-color: white;
$button-font-size: 14px;
$button-background: #fff;
$button-text-align: center;
$button-padding: 0 14px;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: transparent;
$button-border-radius: 2px;
$button-transition: all .15s ease;
$button-line-height: 32px;
$button-letter_spacing: .025em;
$button-cursor: pointer;
$button-text-decoration: none;
$z-indexes: ('alert', 'modal','menu', 'product-thumb', 'site-header','loader','backdrop', 'page-wrapper', 'site-footer', 'mobile-menu-button', 'select-arrow','main-wrapper','modal-backdrop',);
