%close
  &:before, &:after
    content: ''
    display: block
    position: absolute
    top: 7px
    left: 0
    width: 15px
    height: 2px
    background: #000
    +prefixes('transform', 'rotate(45deg)')
  &:after
    +prefixes('transform', 'rotate(-45deg)')

.ajax-filter
  border: none
  > .title
    display: none
  .irs
    height: 20px
    margin-bottom: 13px
    &-bar
      height: 2px
      top: 9px
      background: $colorMain !important
    &-slider
      background: $colorMain !important
      width: 20px
      height: 20px
      top: 0
      +box-shadow(none)
      border: none !important
    &-line
      height: 2px
      top: 9px
      background: #cbcfd8
  .af-body
    af_group
      &:first-of-type
        .af-wrapper
          height: auto
    .af-container
      > .af-heading
        padding: 40px 0 0
        min-height: unset
        overflow: unset
        margin-bottom: 24px
        > .title
          font-size: 20px
          text-transform: uppercase
          font-family: inherit
          font-weight: $fontMedium
        > span
          font-family: 'Font Awesome\ 5 Free'
          font-weight: 400
          top: 43px
          right: 4px
          background: none
          font-size: fz(25px)
          line-height: 1
          width: auto
          height: auto
          +prefixes('transform', 'rotate(90deg)')
          +transition
          &:before
            content: "\f005"
        &.collapsed > span
          +prefixes('transform', 'rotate(0)')
      .af-elements > .af-wrapper
        padding: 0 !important
        .af-element.slider > .price
          margin-top: 0
          .slider-separator
            width: 15px
            margin: 23px 11px 0
          .input-price
            i
              display: none
            > input
              @extend %field
              width: 123px
              height: 46px
              text-align: center

d_ajax_filter_selected
  margin-bottom: $indentBase
  border: none
  background: #f4f5f7
  padding: 22px 32px
  .selected-list
    padding: 0
    .af-selected
      padding: 0 6px 0 0
      margin: 0 44px 0 0
      height: auto
      font-family: inherit
      border: none
      overflow: unset
      @extend %close
      &:before, &:after
        top: 6px
        left: 100%
  .button-reset
    position: relative
    +flex
    align-items: center
    margin-bottom: 0
    padding: 0 !important
    > p
      font-family: inherit
      padding-right: 24px
    > span
      display: inline-block
      position: absolute
      right: 0
      background: none
      width: 16px
      height: 16px
      margin: 0
      @extend %close

.ajax-filter .af-body .af-container > .af-elements > .af-wrapper
  .af-element
    margin-bottom: 16px
    &.slider
      margin-bottom: 40px
    &:not(.slider)
      &:first-of-type
        margin-top: 0
      &:last-of-type
        margin-bottom: 0
    label
      font-family: inherit
      font-size: fz(15px)
      > input[type='checkbox']
        + span
          $checkboxHeight: 21px
          width: 21px
          height: $checkboxHeight
          border: $borderMain
          background: #fff
          margin-top: 0
          &:after
            content: '\f00c'
            position: static
            display: block
            font-size: 12px
            font-family: 'Font Awesome 5 Pro'
            width: 100%
            height: 100%
            border: none
            +prefixes('transform', 'none')
            text-align: center
            line-height: $checkboxHeight
            font-weight: normal
            color: #324767

.ajax-filter .af-body div.af-container > div
  max-height: unset

.af-body
  > af_group:first-of-type
    .af-heading
      border-top: none !important
      padding-top: 0 !important
      > span
        top: 3px !important
