.cart
  margin-left: 0
  margin-right: 0
  &_header
    background: #f3f3f3
    padding-top: 23px
    padding-bottom: 23px
  &_item
    +flex
    align-items: center
    padding-top: 15px
    padding-bottom: 15px
    border-bottom: 1px solid #cbcfd8
  &_cell
    &--image-text
      text-align: center
    &--image
      color: #000
      .image-wrap
        display: inline-block
        width: 93px
        height: 93px
        overflow: hidden
    &--size
      .field
        text-align: center
        width: 56px
        height: 46px
    &--quantity
      .product-quantity
        margin-right: 15px
        +inline-flex
  &-delete-product
    display: inline-block
    color: #000
    &:hover
      color: #000
  &_body
    margin-bottom: 50px
  .item
    &_price
      display: block
      &--actual,
      &--total
        font-size: fz(20px)
        font-weight: $fontBold
      &--old
        text-decoration: line-through
  &_totals
    margin-bottom: 60px