.category-banner
  margin-bottom: rem(50px)

.banner
  &-text
    font-family: $fontMain
    font-weight: $fontBold
    font-size: fz(85px)
    line-height: 1
    padding-top: 18px
    padding-bottom: 18px
    text-align: center
    color: #204987
    &_discount-value
      display: block
      font-weight: $fontBlack
      font-size: fz(44px)