.add-to-fave
  &:not(.js--filled):hover
    animation: PulseFadeOut .4s ease
  +flex
  top: 19px
  right: 15px
  font-size: fz(18px)
  color: $p_choral
  cursor: pointer

  .product-options_size
    opacity: 0
    visibility: hidden
  button
    background: none
    height: auto
    line-height: 1
.wish
  position: relative
  display: inline-flex
  align-items: center
