.alert
  padding-right: 40px
  margin-bottom: 0
  z-index: z('alert')
  border-radius: 0
  position: relative
  margin-bottom: rem(20)
  margin-top: rem(-60)
  .close
    position: absolute
    width: 20px
    height: 20px
    right: 10px
    top: 16px

#write_review_modal
  .alert
    position: relative
    right: 0
    max-width: 100%
    margin: 0 rem(20)
