.alert:not(.alert-warning)
  position: fixed
  max-width: 450px
  bottom: 20px
  right: -9999px

.alert
  padding-right: 40px
  margin-bottom: 0
  z-index: z('alert')
  .close
    position: absolute
    width: 20px
    height: 20px
    right: 10px
    top: 16px
