.rating
  .fa-stack
    width: rem(15px)
    height: rem(15px)
    float: left
  .fa-star
    position: absolute
    color: $ratingFilled
    font-size: 15px
    &.empty
      color: $ratingEmpty
      z-index: -1
  input
    display: none

.product-rating
  .rating
    .fa-stack
      width: rem(15px)
      height: rem(15px)
      margin-right: 3px
      &:last-of-type
        margin-right: 0
    .fa-star
      font-size: 15px

.rating
  .rating-symbol
    width: rem(15px)
    height: rem(15px)
    .fa-star
      position: static
      font-size: 15px
      z-index: 1
      &.empty
        z-index: 0
    .rating-symbol-foreground
      overflow: hidden !important
      .fa-star
        color: $ratingFilled