.comment
  margin-bottom: rem(45px)
  &:last-of-type
    margin-bottom: 0
  &-header
    +flex
    align-items: center
    justify-content: space-between
  .author-name
    font-weight: $fontBold
    margin-bottom: 4px
  &-date
    display: block
    font-size: fz(13px)
    color: #949494
    margin-bottom: 10px
  &-text
    font-size: fz(13px)
    line-height: lh(13, 22)
  .rating
    .fa-star
      font-size: fz(10px)

.comments-list
  margin-bottom: rem(115px)

.new-comment
  .rating
    margin-left: 30px
    &-symbol
      margin-right: 3px
    .fa-star
      font-size: 14px
      width: 15px
  .field-area
    height: 183px
    resize: none
  .form-group
    margin-left: 0
    margin-right: 0
.review_rating_wrap
  margin: rem(20)
.review-wrap
  h3
    margin-top: 0
    margin-bottom: rem(43)