.vd .social-icons
  .block-container
    &:first-of-type
      .vd-icon-container
        padding-left: 0 !important
    &:last-of-type
      .vd-icon-container
        padding-right: 0 !important
  .vd-icon-container
    padding-left: 10px !important
    padding-right: 10px !important
    .vd-icon
      width: rem(15px) !important
      height: rem(15px) !important
      span
        font-size: rem(15px) !important
      .fa-instagram
        font-size: rem(16px) !important