<div class="vz-extension-special">
    <div class="heading-h2 vz-extension-special__heading">{{ heading_title }}</div>
    <div class="row">
        {% for product in products %}
            <div class="product-layout col-lg-3 col-md-6 col-xs-12">
                {% include component.d_product_thumb.template with component.d_product_thumb %}
            </div>
        {% endfor %}
    </div>
</div>

