+adaptive(mb-no)
  margin-bottom: 0 !important

+adaptive(fl-no)
  float: none !important

.align-middle
  +align-middle

.pl-0
  padding-left: 0 !important

.pr-0
  padding-right: 0 !important

.flex-left
  +flex
  justify-content: flex-start

.flex-right
  +flex
  justify-content: flex-end