<div class="panel panel-default vz-total vz-total--coupon">
  <div class="panel-heading">
    <div class="panel-title h4"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{heading_title}} <i class="fa fa-caret-down"></i></a></div>
  </div>
  <div id="collapse-coupon" class="panel-collapse collapse">
    <div class="panel-body">
      {% include component.form_group.template with {form_group:{
        type:'input_group',
        label_text:entry_coupon,
        input_group:{
          input:{
            type:'text',
            id:'input-coupon',
            name:'coupon',
            value:coupon,
            placeholder:entry_coupon,
            classes:'',
          },
          button:{
            tag:'input',
            type:'button',
            value:button_coupon,
            text_button:button_coupon,
            id:'button-coupon',
            style:'primary'
          }
        }
      }} %}
    </div>
  </div>
  <script type="text/javascript"><!--
    $(document).ready(function() {
      Total_coupon.init();
    });
    //--></script>

</div>
