/**
 * http://chir.ag/projects/name-that-color
 * color
 */
// Palette
$p_white:                   #fff;
$p_black:                   #000;
$p_shark:                   #191b1f;
$p_athens-gray:             #f6f7f9;
$p_waterloo:                #7c8598;
$p_astral:                  #337ab7;
$p_link-water:              #e6eCf7;
$p_anakiwa:                 #a6c5ff;
$p_persimmon:               #ff5454;
$p_burnt_sienna:            #eb6651;
$p_chablis:                 #fff0f0;
$p_vanilla_ice:             #f4dada;
$p_contessa:                #cb6868;
$p_panache:                 #e5f4e9;
$p_fringy_flower:           #c1e6cb;
$p_aqua_forest:             #62a975;
$p_pearl_lusta:             #fcf0d6;
$p_chamois:                 #ead6ac;
$p_old_gold:                #d2a647;
$p_lochmara:                #0087c8;
$transparent:               rgba(255, 255, 255, 0);