.product-section
  .product-images
    .thumbnail-main
      margin-bottom: 3px
    &_additional
      overflow: hidden
      .thumbnail
        float: left
        max-width: 115px
        margin-right: 3px
        &:last-of-type
          margin-right: 0

  .product-price
    &-block
      font-size: fz(35px)

  .product
    &_brand
      font-weight: $fontBold
      font-size: fz(20px)
      margin-bottom: 30px
    &-quantity
      margin-bottom: 55px
    //&-rating
    //  +flex
    //  align-items: center
    //  margin-bottom: 40px
    //  .rating
    //    margin-right: 60px
    &-description
      margin-top: rem(175px)

  .attributes-group
    margin-bottom: 25px

.product_brand
  font-weight: $fontBold

.product-price
  &-block
    +flex
    font-weight: $fontBold
  &_actual
    color: $p_choral
    font-weight: $fontBold
    margin-right: 35px
  &_old
    font-weight: $fontBold
    text-decoration: line-through
.discount
  margin-bottom: rem(35)
#product .wish
  margin-left: rem(20)