{#it's mean in layout template#}
{% extends template %}

{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <p>{{ text_error }}</p>
    {% include partial.d_button.template %}
{% endblock %}