{{header}}
  {% include 'd_visualize/template/partial/d_breadcrumb.twig' %}
    {% include 'd_visualize/template/partial/d_layout_open.twig' %}
      <h1 class="h1">{{heading_title}}</h1>
      <p>{{text_error}}</p>
      {% include 'd_visualize/template/partial/d_button.twig' %}
  {% include 'd_visualize/template/partial/d_layout_close.twig' %}
{{footer}}
