.v-content{
  &__wrap{
    display: flex;
  }
}
body {
  &::-webkit-scrollbar, ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px
  }

  &::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
    border-radius: 0
  }

  &::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: color .2s ease;
    transition: color .2s ease
  }

  &::-webkit-scrollbar-thumb:window-inactive, ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, .15)
  }
}
