.opencart {
  .v-toolbar__content, .v-toolbar__extension {
    padding: 0;
  }
  &-header, &-footer {
    width: 100%;
  }
  &-column-left {
    height: 100%;
    #column-left {
      margin: 0;
      left: 0 !important;
      padding-top: 0;
      width: initial;
      position:relative !important;
    }
  }
  #container {
    overflow: visible;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  hr{
    margin-top: 0;
  }
}
