.comments-section {
    .comment-header {
        @include flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .rating {
        display: inline-block;
        margin-bottom: 0;
    }
    .comment {
        @include clearfix;
        $avatarIndent: $marginVerticalBase;
        $avatarSize: 66px;
        margin-bottom: rem(40px);
        .avatar {
            position: relative;
            float: left;
            width: $avatarSize;
            height: $avatarSize;
            background: $colorMain;
            @include border-radius(50%);
            margin-right: $avatarIndent;
            transform: rotate(0);
            overflow: hidden;
            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 12px;
                width: 28px;
                height: 28px;
                background: $colorMainDarken;
                margin-left: -14px;
                @include border-radius(50%);
                @include transition(.4s);
            }
            &:before {
                transform-origin: 50% 100% 0;
                @include prefixes('transform', 'rotate(0)');
            }
            &:after {
                width: 48px;
                height: 48px;
                margin-left: -24px;
                top: 38px;
            }
        }
        .comment-data {
            float: right;
            width: calc(100% - #{$avatarSize} - #{$avatarIndent});
        }
        .rating {
            $symbolSize: 16px;
            .fa {
                font-size: $symbolSize;
            }
            .fa-stack {
                height: $symbolSize;
                width: $symbolSize;
            }
        }
        &:hover {
            .avatar:before {
                animation: waggle 1.5s;
            }
        }
        @keyframes waggle {
            0% {
                @include prefixes('transform', 'rotate(0)');
            }
            25% {
                @include prefixes('transform', 'rotate(-20deg)');
            }
            75% {
                @include prefixes('transform', 'rotate(20deg)');
            }
            100% {
                @include prefixes('transform', 'rotate(0)');
            }
        }
    }
    .author-name {
        font-weight: $fontBold;
        margin-right: 10px;
    }
    .comment-date {
        color: $fontColorSecondary;
        font-size: $fontSize-xs;
        margin-right: 10px;
    }
    .new-comment {
        .rating {
            margin-top: 13px;
        }
    }
}