/**
 * d_theme
 */
/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Function list:
 *
 * @function rem()
 * @function z()
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Function list:
 *
 * @function rem()
 * @function z()
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Function list:
 *
 * @function rem()
 * @function z()
 */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul div {
    line-height: 1.5; }

.list {
  font-size: 14px;
  padding-left: 15px;
  list-style: disc; }
  .list .list {
    list-style: circle;
    padding-left: 1.33333rem; }
  .list-item {
    line-height: 26px; }

.thumbnail {
  border: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.btn {
  -webkit-border-radius: unset;
  -khtml-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
  border-radius: unset;
  border: none; }
  .btn:hover {
    border-color: rgba(255, 255, 255, 0); }

button {
  outline: none; }

a:hover {
  text-decoration: none; }

label {
  font-weight: inherit;
  margin-bottom: 0; }

select {
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.well {
  padding: 45px;
  background: #f3f6fb;
  border: none;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

legend {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 1.33333rem;
  border-bottom: none; }
  @media only screen and (max-width: 767px) {
    legend {
      text-align: center; } }

.group:before, .group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

.container {
  max-width: 100%; }

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  padding: 5px; }

.table + .row {
  margin-bottom: 20px; }

/**
 * Base
 */
html, body {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  color: #191b1f; }
  @media only screen and (max-width: 990px) {
    html, body {
      font-size: 8px; } }

#main {
  font-size: 15px; }

.heading-h1, .like-heading-h1, .heading-h2, .like-heading-h2, .heading-h3, .like-heading-h3, .heading-h4, .like-heading-h4, .heading-h5, .like-heading-h5, .heading-h6, .like-heading-h6 {
  font-family: "Blogger Sans Bold";
  line-height: 1.5; }
  @media only screen and (max-width: 767px) {
    .heading-h1, .like-heading-h1, .heading-h2, .like-heading-h2, .heading-h3, .like-heading-h3, .heading-h4, .like-heading-h4, .heading-h5, .like-heading-h5, .heading-h6, .like-heading-h6 {
      text-align: center; } }

.heading-h1 {
  margin-top: 0;
  margin-bottom: 0.53333rem; }

.like-heading-h1 {
  margin-top: 0; }

.heading-h2 {
  margin-top: 0;
  margin-bottom: 0.53333rem; }

.like-heading-h2 {
  margin-top: 0; }

.heading-h3 {
  margin-top: 0;
  margin-bottom: 0.53333rem; }

.like-heading-h3 {
  margin-top: 0; }

.heading-h4 {
  margin-top: 0;
  margin-bottom: 0.53333rem; }

.like-heading-h4 {
  margin-top: 0; }

.heading-h5 {
  margin-top: 0;
  margin-bottom: 0.53333rem; }

.like-heading-h5 {
  margin-top: 0; }

.heading-h6 {
  margin-top: 0;
  margin-bottom: 0.53333rem; }

.like-heading-h6 {
  margin-top: 0; }

.heading-h1,
.entry-description h1,
.like-heading-h1 {
  font-size: 47px;
  line-height: 1.14894;
  margin-bottom: 2.46667rem; }

.heading-h2,
.entry-description h2,
.like-heading-h2 {
  font-size: 35px;
  line-height: 0.89362;
  margin-bottom: 1.66667rem; }

.heading-h3,
.entry-description h3,
.like-heading-h3 {
  font-family: "Blogger Sans";
  font-size: 26px;
  line-height: 0.70213;
  margin-bottom: 0.66667rem; }

.heading-h4,
.entry-description h4,
.like-heading-h4 {
  text-align: center;
  font-size: 20px;
  line-height: 0.57447;
  margin-bottom: 0.46667rem; }

.entry-description h4 {
  text-align: left; }

.heading-h5,
.entry-description h5,
.like-heading-h5 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 1.66667rem; }

ul {
  line-height: 2.13333; }
  ul li {
    line-height: 1.22222; }

.entry-description {
  margin-bottom: 2rem; }
  .entry-description:last-of-type {
    margin-bottom: 4rem; }

.entry-description a,
.link {
  font-size: 15px;
  color: #0087c8;
  -webkit-transition: border-color 0.3s ease;
  -khtml-transition: border-color 0.3s ease;
  -moz-transition: border-color 0.3s ease;
  -ms-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0); }
  .entry-description a:hover,
  .link:hover {
    color: #00a3f1;
    border-bottom: 1px solid #00a3f1; }
  .entry-description a:focus,
  .link:focus {
    text-decoration: none;
    outline: none; }

.mb-no {
  margin-bottom: 0 !important; }
  @media only screen and (max-width: 399px) {
    .mb-no-xs {
      margin-bottom: 0 !important; } }
  @media only screen and (max-width: 559px) {
    .mb-no-sm {
      margin-bottom: 0 !important; } }
  @media only screen and (max-width: 767px) {
    .mb-no-md {
      margin-bottom: 0 !important; } }
  @media only screen and (max-width: 1247px) {
    .mb-no-lg {
      margin-bottom: 0 !important; } }
  @media only screen and (max-width: 1439px) {
    .mb-no-xl {
      margin-bottom: 0 !important; } }

.fl-no {
  float: none !important; }
  @media only screen and (max-width: 399px) {
    .fl-no-xs {
      float: none !important; } }
  @media only screen and (max-width: 559px) {
    .fl-no-sm {
      float: none !important; } }
  @media only screen and (max-width: 767px) {
    .fl-no-md {
      float: none !important; } }
  @media only screen and (max-width: 1247px) {
    .fl-no-lg {
      float: none !important; } }
  @media only screen and (max-width: 1439px) {
    .fl-no-xl {
      float: none !important; } }

.align-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-grow: 1; }

/**
 * Global configuration file
 * of the d_visualize
 */
/**
 * Mixins list:
 *
 * @mixin prefixes()
 * @mixin transition()
 * @mixin border-radius()
 * @mixin clearfix()
 * @mixin arrow()
 * @mixin push-auto()
 * @mixin pseudo()
 * @mixin triangle()
 * @mixin mq()
 * @mixin retina()
 * @mixin font-face()
 * @mixin absolute-center()
 *
 * Function list:
 *
 * @function rem()
 * @function z()
 */
/**
 * http://chir.ag/projects/name-that-color
 * color
 */
/**
 * Path
 */
/**
 * Color
 */
/**
 * Font
 */
/**
 * Indent
 */
/**
 * Border
 */
/**
 * Field
 */
/**
 * Cart
 */
.btn.btn-md {
  padding: 6px 38px; }

.btn.btn-sm {
  padding: 0 15px; }

.btn.btn-shrink {
  padding-left: calc(64px - 2rem);
  padding-right: calc(64px - 2rem); }

.btn.btn-fluid {
  max-width: none;
  width: 100%; }

.btn-block {
  max-width: none;
  width: 100%; }
  @media only screen and (max-width: 399px) {
    .btn-block-xs {
      max-width: none;
      width: 100%; } }
  @media only screen and (max-width: 559px) {
    .btn-block-sm {
      max-width: none;
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .btn-block-md {
      max-width: none;
      width: 100%; } }
  @media only screen and (max-width: 1247px) {
    .btn-block-lg {
      max-width: none;
      width: 100%; } }
  @media only screen and (max-width: 1439px) {
    .btn-block-xl {
      max-width: none;
      width: 100%; } }

.form-group.required {
  position: relative; }
  .form-group.required .field-label span, .form-group.required .control-label span {
    position: relative;
    display: inline-block; }
    .form-group.required .field-label span:after, .form-group.required .control-label span:after {
      content: '*';
      position: absolute;
      color: #cb6868;
      top: -3px;
      right: -10px;
      font-weight: 600;
      font-size: 12px; }

.field-label.label-fluid {
  display: block;
  padding: 0;
  margin-bottom: 0.66667rem; }

.field-label.label-text-right {
  display: block;
  text-align: right; }

.field-label.checkbox-label, .field-label.radio-label, .field-label.radio-input {
  display: inline-block;
  padding: 0;
  cursor: pointer; }

.label-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  height: 50px;
  text-align: right; }
  @media only screen and (min-width: 400px) {
    .label-right-xs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      height: 50px;
      text-align: right; } }
  @media only screen and (min-width: 560px) {
    .label-right-sm {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      height: 50px;
      text-align: right; } }
  @media only screen and (min-width: 768px) {
    .label-right-md {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      height: 50px;
      text-align: right; } }
  @media only screen and (min-width: 1248px) {
    .label-right-lg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      height: 50px;
      text-align: right; } }
  @media only screen and (min-width: 1440px) {
    .label-right-xl {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      height: 50px;
      text-align: right; } }

.text-center {
  text-align: center !important; }
  @media only screen and (max-width: 399px) {
    .text-center-xs {
      text-align: center !important; } }
  @media only screen and (max-width: 559px) {
    .text-center-sm {
      text-align: center !important; } }
  @media only screen and (max-width: 767px) {
    .text-center-md {
      text-align: center !important; } }
  @media only screen and (max-width: 1247px) {
    .text-center-lg {
      text-align: center !important; } }
  @media only screen and (max-width: 1439px) {
    .text-center-xl {
      text-align: center !important; } }
