<!-- > d_product_sort -->
<div class="vz-product_sort vz-product_sort_default">
    <div class="row align-items-start justify-content-between">
        <div class="col-lg-2 col-md-6">
            <div class="vz-product_sort__view-type">
                <div class="vz-button-group btn-group vz-button-view">
                    <button type="button" id="list-view" class="btn vz-button" data-toggle="tooltip"
                            title="{{ button_list }}"><i
                                class="fas fa-th-list "></i></button>
                    <button type="button" id="grid-view" class="btn vz-button active" data-toggle="tooltip"
                            title="{{ button_grid }}"><i
                                class="fas fa-th"></i></button>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <a href="{{ compare }}" id="compare-total" class="btn vz-button btn-link vz-d_product_sort__compare">{{ text_compare }}</a>
        </div>
        <div class="col-lg-4 col-md-6 col-6 text-right">
            {% include partial.input.template with partial.input|merge({
                type:'select',
                id:'input-sort',
                select_values:sorts,
                select_values_val:'href',
                select_values_check_val: 'value',
                select_values_check: '%s-%s'|format(sort, order),
                select_values_name: 'text',
                on_change: 'location = this.value;',
                text_input: text_sort,
                classes: 'd-inline-block',
                size: 'sm',
            }) %}
        </div>
        <div class="col-lg-3 col-md-6 col-6 text-right">
            {% include partial.input.template with partial.input|merge({
                type:'select',
                id:'input-limit',
                select_values:limits,
                select_values_val:'href',
                select_values_check_val: 'value',
                select_values_check: limit,
                select_values_name: 'text',
                on_change: 'location = this.value;',
                text_input: text_limit,
                classes: 'd-inline-block',
                size: 'sm',
            }) %}
        </div>
    </div>
</div>
<!-- /> d_product_sort -->
