.accordion
  &_tab
    padding-top: 42px
    padding-bottom: 42px
    border-bottom: $borderMain
    +transition
    cursor: pointer
    &:first-of-type
      padding-top: 0
    &.is-active
      .accordion_tab-content
        height: auto
    &-title
      position: relative
      font-size: fz(20px)
      font-weight: $fontMedium
      text-transform: uppercase
      word-spacing: 25px
      margin-bottom: rem(25px)
      +transition
      &.collapsed
        margin-bottom: 0
        .tab_angle
          +prefixes('transform', 'translateY(-50%) rotate(0)')
  .tab_angle
    position: absolute
    font-size: fz(25px)
    top: 50%
    right: 0
    +transition
    +prefixes('transform', 'translateY(-50%) rotate(90deg)')