<!-- > d_breadcrumb -->
<div id="breadcrumb">
  <div class="wrapper">
    <div class="container">
      <ul class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
	    <li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
	    {% endfor %}
	  </ul>
    </div>
  </div>
</div>
<!-- /> d_breadcrumb -->
