.radio-container {
    position: relative;
    @include inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: 15px;
    label {
        &:hover {
            .radio-control:after {
                @include prefixes('transform', 'scale(1)');
            }
        }
    }
    input {
        &:checked + .radio-control {
            &:before {
                background: #cfdbf0;
            }
            &:after {
                transform: scale(1.5);
                background: darken($colorMainDarken, 20);
            }
        }
    }
    .radio-input {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .radio-control {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include border-radius(50%);
        border: $borderMain;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include border-radius;
            @include transition(all, .1s);
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 4px;
            height: 4px;
            margin-top: -2px;
            margin-left: -2px;
            background: $colorMainDarken;
            @include border-radius;
            @include prefixes('transform', 'scale(0)');
            @include transition(all, .3s);
        }
    }
}