<div class="card card-expanded">
    <div class="image-wrap">
        <img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class="product-image"/>
        <div class="product-cover">
            <h3 class="product-name">{{ name }}</h3>
            <p class="product-description">Award winning SEO Modules in one awesome package</p>
        </div>
    </div>
    <div class="product-info">
        <p class="product-subtitle">The heart of the SEO Module Ecosystem</p>
        <ul class="product-capabilities">
            <li>Implements the SEO Module API</li>
            <li>Adds Target Keywords to Product,</li>
            <li>Category, Manufacturer, information and static pages,</li>
            <li>.htaccess file editor robots.txt file editor</li>
        </ul>
        <a href="#" class="btn btn-primary btn-md">Read more</a>
    </div>
</div>