.vz-d_product_sort_default {
  margin-bottom: 20px;
}
.vz-d_product_sort_default .vz-button {
  padding: 0;
}
.vz-button-view .vz-button {
  padding: 5px 10px;
  &.active{
    background: var(--color-primary);
  }
}