{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h1 class="heading-h1">{{heading_title}}</h1>
    <div class="entry-description">
        {{description}}
    </div>
{% endblock %}