{{header}}
  {% include 'd_visualize/template/partial/d_breadcrumb.twig' %}
  {% include 'd_visualize/template/partial/d_layout_open.twig' %}
      <div class="h1">{{heading_title}}</div>
      {{description}}
  {% include 'd_visualize/template/partial/d_layout_close.twig' %}
{{footer}}
