.edit {
  display: flex;
  #column-left, footer {
    display: none;
  }
  #column-left + #content {
    margin-left: 0;
  }
  #content, #visualize, .visualize, .vz-edit-theme, .iframe, iframe {
    flex: 1;
    height: 100%;
  }
  .vz-edit-theme {
    lost-flex-container: row;
    .menu{
      lost-column: 2/12;
    }
    .iframe {
      lost-column: 10/12;
      iframe {
        width: 100%;
      }
    }
  }

}