.edit {
  display: flex;
  flex-direction: column;
  #column-left, footer, header {
    display: none;
  }
  #column-left + #content {
    margin-left: 0;
  }
}

#container, #content, #visualize, .visualize, .vz-edit-theme, .vz-edit-iframe, iframe {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#content {
  padding-bottom: 0;
}

.vz-edit {
  &-theme {
    display: flex;
    flex-direction: row;
  }
  &-menu {
    min-width: 300px;
    .menu-hidden & {
      min-width: 70px;
      width: 70px;
    }
  }
  &-iframe {
    iframe {
      width: 100%;
    }
  }
}
