.vz-input-group {
  display: flex;
  .vz-input--group {
    flex: 1 1 100%;
    &.vz-input--button {
      flex: 1 1 auto;
      .vz-button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        max-height: 34px;
        line-height: 34px;
        padding: 0 15px;
      }
    }
    &.vz-input--text {
      input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}