footer
  vd-block-social_icons .vd-social-icon-container > .vd-social-icon > i, [data-is="vd-block-social_icons"] .vd-social-icon-container
    display: flex
    justify-content: center
    > .vd-social-icon > i
      font-size: rem(17)
  vd-block-social_icons .vd-social-icon-container > .vd-social-icon, [data-is="vd-block-social_icons"] .vd-social-icon-container > .vd-social-icon
    width: auto
    height: auto
    margin: 0 rem(10)
    &:first-child
      margin-left: 0