{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div class="h2">{{heading_title}}</div>
    {% include partial.d_product_list.template with  partial.d_product_list %}
{% endblock %}
