div.swiper-viewport {
    background: rgba(255, 255, 255, 0);
    border: none;
    @include prefixes('box-shadow', 'none');
    @include prefixes('box-shadow', 'none');
    &:hover {
        .swiper-button-prev,
        .swiper-button-next {
            opacity: 1;
        }
        .swiper-button-prev {
            left: 20px;
        }
        .swiper-button-next {
            right: 30px;
        }
    }
    .swiper-slide {
        @include border-radius;
        overflow: hidden;
        height: auto;
    }

    .swiper-wrapper {
        height: auto;
    }
}

.swiper-pagination {
    .swiper-pagination-bullet {
        background: $colorMainLighten;
        @include transition;
        &:hover {
            background: darken($colorMainDarken, 8);
        }
        &-active {
            background: $colorMainDarken;
        }
    }
}

.swiper-pager {
    .swiper-button-prev,
    .swiper-button-next {
        height: 30px;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 7px;
            width: 20px;
            background: $p_white;
            height: 3px;
            display: block;
            @include prefixes('transform', 'rotate(-45deg)');
            @include transition;
        }
        &:after {
            top: 20px;
            @include prefixes('transform', 'rotate(45deg)');
        }
    }
    .swiper-button-next {
        @include prefixes('transform', 'rotate(180deg)');
    }
}