.product-thumb {
    position: relative;
    @include transition;
    margin-bottom: rem(50px);
    @include mq('tablet') {
        max-width: 360px;
        @include push-auto;
    }
    &:hover {
        @include prefixes('box-shadow', '0px 0px 40px 0px rgba(2, 2, 2, 0.2), inset 0px 0px 40px 0px rgba(0, 0, 0, 0.03)');
    }
    .heading-h3 {
        height: 49px;
        font-family: $fontSecondary;
        font-size: fz(18);
        line-height: lh(18, 26);
        color: $p_black;
        margin-bottom: rem(7px);
        overflow: hidden;
        @include mq('laptop') {
            font-size: fz(17px);
        }
    }
    .image-wrap {
        display: block;
        overflow: hidden;
        margin: 0 auto;
    }
    &_image {
        max-width: 100%;
    }
    &_subtitle {
        display: block;
        margin-bottom: rem(25px);
        text-align: center;
        font-size: fz(16px);
        height: 44px;
        overflow: hidden;
    }
    &_cover {
        @include border-radius($borderRadiusBase $borderRadiusBase 0 0);
        overflow: hidden;
    }
    &_body {
        padding: rem(30px) rem(34px);
        margin-top: -1px;
        @include border-radius(0 0 $borderRadiusBase $borderRadiusBase);
        overflow: hidden;
        border: $borderMain;
        border-top: none;
    }
    &_description {
        p {
            height: 54px;
            font-size: fz(13px);
        }
    }
    &_ribbon {
        position: absolute;
        top: -5px;
        right: -9px;
        width: 115px;
        height: 125px;
        &_free {
            background: url($path + 'image/Ribbon_FREE.svg') no-repeat;
        }
        &_bestseller {
            background: url($path + 'image/Ribbon_FREE.svg') no-repeat;
        }
    }
    .product-link {
        display: inline-block;
    }
    .product-price {
        display: block;
        font-family: $fontMain;
        font-weight: $fontMedium;
        font-size: fz(22px);
        margin-bottom: rem(9px);
    }
    .block-left {
        float: left;
    }
    .rating {
        margin-bottom: 0;
        .fa-stack, .fa-stack-2x {
            width: 13px;
            height: 13px;
            font-size: 13px;
        }
    }
    .btn {
        float: right;
    }
}