/**
 * d_product_thumb
 */
.product-thumb{
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: auto;
    .image{
    	text-align: center;
    	a{
    		display: inline-block;
    	}
    }
	.caption {
	    padding: 0 20px;
	    min-height: 180px;
	    .h4{
	    	font-weight: bold;
	    	font-size: 15px;
	    	a:hover{
	    		text-decoration: none;
	    	}
	    }
	    p{
	    	font-size: 12px;
	    	line-height: 20px;
	    	margin-top: 10px;
	    }
	    .price{
	    	.price-tax{
	    		color: #999;
			    font-size: 12px;
			    display: block;
	    	}
	    }
	}
	.button-group {
	    border-top: 1px solid #ddd;
	    background-color: #eee;
	    overflow: auto;
	    button {
		    width: 60%;
		    border: none;
		    display: inline-block;
		    float: left;
		    background-color: #eee;
		    color: #888;
		    line-height: 38px;
		    font-weight: bold;
		    text-align: center;
		    text-transform: uppercase;
		    font-size: 12px;
		    .fa {
			    font-size: 14px;
			}
		     + button {
			    width: 20%;
			    border-left: 1px solid #ddd;
			}
		}
	}
 }