%plain_list {
  margin: 0px;
  padding: 0;
  list-style: none;
}

.vz-product-product__thumbnails {
  @extend %plain_list;
  display: flex;
  flex-wrap: wrap;
  &__item {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
    &:nth-child(2) {
      margin-left: 0px;
    }

    transition: border-color .35s;
    &:hover {
      border-color: #337ab7
    }
  }
  &__item--main {
    margin-left: 0px;
    flex: 1 0 100%;
    img{
      margin: auto;
      display: block;
    }
  }
}