.vz-button-continue {
  display: flex;
  justify-content: space-between;
  &__back {
  }
  &__forward {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    &__agree {
      display: inline-flex;
      align-items: center;
      margin-right: 5px;
      .vz-input--checkbox input{
        margin-top: 0;
        margin-left: 10px;
        position: relative;
      }
    }
  }
  &--default{
    margin-bottom: 20px;
   }
}