@import "../config"

/**
 * Base
 */
html, body
  font-family: $fontMain
  font-size: $fontSizeBase
  font-weight: $fontMedium
  color: $fontColorMain
  +mq('tablet')
    //font-size: 8px

body
  font-size: $fontSizeBase

%heading
  //font-family: $fontSecondaryBold
  line-height: $lineHeightBase
  +mq('tablet')
    text-align: center

h1 ,.heading-h1, .entry-description h1, .like-heading-h1
  font-size: $fontSizeH1
  word-spacing: $fontH1Spacing
  margin-bottom: rem(35px)
  font-weight: $fontNormal
  text-transform: uppercase
  line-height: rem(44)

h2 ,.heading-h2, .entry-description h2, .like-heading-h2
  font-size: $fontSizeH2
  word-spacing: $fontH2Spacing
h3 ,.heading-h3, .entry-description h3, .like-heading-h3
  font-size: $fontSizeH3
  font-weight: $fontMedium
  word-spacing: $fontH3Spacing
  text-transform: uppercase
h4 ,.heading-h4, .entry-description h4, .like-heading-h4
  font-size: $fontSizeH4
  line-height: lh($fontSizeH4,24)
h5 ,.heading-h5, .entry-description h5, .like-heading-h5
  font-size: $fontSizeH5
  line-height: lh($fontSizeH5,21)
span
  //font-size: $fontSize-sm
  //line-height: lh($fontSize-xs,22)

.section-heading,
.sidebar-heading,
.bm .page-heading,
.page-heading,
.subsection-heading
  font-size: fz(35px)
  font-weight: $fontLight
  color: #000
  text-transform: uppercase
  margin-bottom: 15px

.sidebar-heading
  display: block
  font-size: fz(25px)
  margin-bottom: rem(60px)

.bm .page-heading,
.page-heading
  margin-top: 0
  margin-bottom: rem(40px)

.subsection-heading
  font-size: fz(20px)
  font-weight: $fontMedium
  margin-bottom: 40px

.link
  color: $p_choral
  text-decoration: underline
  font-size: fz(13px)
  border: none
  &:hover
    color: $colorMain
    border: none
    text-decoration: none

a
  &:hover
    text-decoration: none !important
//
//.vd .post-thumb-heading a,
//.post-thumb-heading a,
//.vd .product-name a,
//.product-name a
//  background: linear-gradient(180deg, rgba(#000, .3) 0, rgba(#000, .3)) repeat-x 0 90%
//  background-size: 1px 1px
//  text-decoration: none
//  &:hover
//    color: #000
//    background-image: linear-gradient(180deg, #000 0, #000)
