{% if products %}
    {% include partial.d_product_sort.template with partial.d_product_sort %}
    <div class="row products-list">
        {% for product in products %}
            <div class="product-layout product-list col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {% include partial.d_product_thumb.template with partial.d_product_thumb %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12 text-center-lg text-right">{{ pagination }}</div>
    </div>
{% endif %}