.content.vd
  .bm-post-module
    .post-layout
      padding: 0 15px
      .title a
        font-size: fz(22px)
        color: #000
      .date-published
        font-size: fz(12px)
        color: #949494
        font-weight: $fontNormal

.bm-related-post
  .post-layout
    margin-bottom: 30px
  .post-title
    display: block
    margin-top: 0
    a
      font-size: fz(13px)
      line-height: lh(fz(13), 22)
      color: #000
      font-weight: $fontMedium

.bm
  .bm-post-info
    .image
      margin-top: 0
  .post-date
    display: inline-block
    color: #949494
    font-size: fz(12px)
    font-weight: $fontMedium
    margin-bottom: 10px
  .page-heading
    margin-top: rem(60px)
    margin-bottom: rem(25px)
    text-transform: none
  p
    line-height: lh(15, 25)
    color: #000

.bm-latest-post
  .post-layout
    float: left
