$button-color: white !default;
$button-font_size: 14px !default;
$button-background: #fff !default;
$button-text_align: center !default;
$button-padding: 0 14px !default;
$button-border_width: 1px !default;
$button-border_style: solid !default;
$button-border_color: transparent !default;
$button-border_radius: 2px !default;
$button-transition: all .15s ease !default;
$button-line_height: 32px !default;
$button-letter_spacing: .025em !default;
$button-cursor: pointer !default;
$button-text_decoration: none !default;
