$button-color: white !default;
$button-font_size: 14px !default;
$button-background: #fff !default;
$button-text_align: center !default;
$button-padding: 0 14px !default;
$button-border_width: 1px !default;
$button-border_style: solid !default;
$button-border_color: transparent !default;
$button-border_radius: 2px !default;
$button-transition: all .15s ease !default;
$button-line_height: 32px !default;
$button-letter_spacing: .025em !default;
$button-cursor: pointer !default;
$button-text_decoration: none !default;
/*BTN DEFAULT*/
%btn_default {
  border: $button-border_width $button-border_style $color-default;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: $color-default;
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
  /*&:hover,&.active {
      background: var(--color-default-darken);
      border-color: var(--color-default-darkenx2);
    }
    &:focus:active{
      background: var(--color-default-darkenx2);
      border-color: var(--color-default-darkenx2);
      outline: none;
    }*/
}
/*BTN PRIMARY*/
%btn_primary {
  color: $color-body;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: $color-primary;
  //background-image: linear-gradient(to bottom, lighten($color-primary,40%), $color-primary);
  //background-repeat: repeat-x;
  border-color: lighten($color-primary,40%) lighten($color-primary,30%) lighten($color-primary,10%);
  &:hover, &.active {
    background-color: darken($color-primary,10%);
    border-color: darken($color-primary,10%);
  }
}
/*BTN DANGER*/
%btn_danger {
  color: $color-body;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: $color-danger;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  &:hover, &.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
}
/*BTN WARNING*/
%btn_warning {
  color: $color-body;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: $color-warning;
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
  &:hover, &.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
}