$body-base-size: 14px !default;
$body-font: 'Open Sans' !default;

$headings-font: 'Montserrat' !default;
$headings-base-size: 14px !default;
$headings-letter-spacing: 14px !default;
$headings-capitalize: false !default;
