<!-- > d_account_field_default -->
{% if customer_groups %}
<div class="form-group required" style="display: {% if customer_groups|length > 1 %}block{% else %}none{% endif %};">
  <label class="{% if form %}col-sm-2{% endif %} field-label label-right-md"><span>{{entry_customer_group}}</span></label>
  <div class="{% if form %}col-sm-10{% endif %}">
    {% for customer_group in customer_groups %}
    <div class="radio">
      <label>
    <input type="radio" name="customer_group_id" value="{{customer_group.customer_group_id}}" {% if customer_group.customer_group_id == customer_group_id %}checked="checked"{% endif %} />
        <span>{{customer_group.name}}</span></label>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% include partial.d_name_field.template with  partial.d_name_field %}
 {% include partial.form_group.template with partial.form_group|merge({
 type:'email',
 id:'input-email',
 name:'email',
 requier:true,
 value:email,
 classes:'',
 placeholder:entry_email,
 text_input:entry_email,
 }) %}
 {% include partial.form_group.template with partial.form_group|merge({
 type:'text',
 id:'input-telephone',
 name:'telephone',
 required: true,
 value:telephone,
 placeholder:entry_telephone,
 classes:'',
 text_input:entry_telephone,
 error:error_telephone,
 }) %}
{% if constant('VERSION') < '3.0.0.0' %}
    {% include partial.form_group.template with partial.form_group|merge({
    type:'text',
    id:'input-fax',
    name:'fax',
    required: true,
    value:fax,
    placeholder:entry_fax,
    classes:'',
    text_input:entry_fax,
    error:error_fax,
    }) %}
{% endif %}
<!-- /> d_account_field_default -->
