<!-- > d_account_field_default -->
<div class="vz-account-filed">
    {% if customer_groups|length > 1 %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_customer_group,
                error:error_customer_group,
                input:{
                    type:'radio',
                    id:'input-customer_group',
                    name:'newsletter',
                    value: customer_group,
                    checked: customer_group,
                    values: [{ 'value':1,'text': text_yes},{'value':0,'text':text_no}],
                }
            }
        } %}
    {% endif %}
    {% include component.d_name_field.template %}
    {% include component.form_group.template with{
        form_group:{
            label_text:entry_email ,
            error:error_email,
            required:true,
            input:{
                type:'text',
                id:'input-email',
                name:'email',
                value:email,
                placeholder:entry_email ,
            }
        }
    } %}
    {% include component.form_group.template with{
        form_group:{
            label_text:entry_telephone ,
            error:error_telephone,
            required:true,
            input:{
                type:'text',
                id:'input-telephone',
                name:'telephone',
                value:telephone,
                placeholder:entry_telephone ,
            }
        }
    } %}
    {% if constant('VERSION') < '3.0.0.0' %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_fax ,
                error:error_fax,
                input:{
                    type:'text',
                    id:'input-fax',
                    name:'fax',
                    value:fax,
                    placeholder:entry_fax ,
                }
            }
        } %}
    {% endif %}
</div>
<!-- /> d_account_field_default -->
