<!-- > breadcrumb -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                {% set count = 0 %}
                {% for breadcrumb in breadcrumbs %}
                    {% set count = count + 1 %}

                    {% if count == breadcrumbs|length %}
                        <li>{{ breadcrumb.text }}</li>
                    {% else %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- /> breadcrumb -->
