#d_quickcheckout
  .control-label
    margin-bottom: 7px
    font-size: fz(13px)
    padding-top: 0
  .form-group
    margin-bottom: rem(37px)
    &.required
      .field-label,
      .control-label
        span
          &:after
            color: #dc4949
            top: 1px
            right: -6px
            font-size: fz(13px)
  .qc-step-section
    padding-bottom: rem(80px)
  #payment_address,
  #shipping_address
    margin-bottom: rem(-37px)
  .product-quantity
    .quantity-control,
    .cart-delete-product
      width: 43px
      height: 35px
      line-height: lh(15, 35)
      background: #fff
  .cart-delete-product
    width: auto
    background: none
  .qc-quantity
    width: auto
    min-width: auto
  .textarea
    min-height: 135px
    resize: none
  #confirm_comment_input
    margin-bottom: rem(60px)