
.footer{
	a {
		color: #ccc;
		&:hover{
			color: #FFF;
		}
	}
	hr {
		border-top: none;
    	border-bottom: 1px solid #666;
	}
	h5 {
	    font-size: 13px;
	    font-weight: bold;
	    color: #fff;
	}
    margin-top: 30px;
    padding-top: 30px;
    background-color: #303030;
    border-top: 1px solid #ddd;
    color: #e2e2e2;
}