.header{
	.header-top{
		> .wrapper{
			
			margin-bottom: 20px;
			background-color: #EEEEEE;
    		border-bottom: 1px solid #e2e2e2;
			.container{
				
				.top-links{
					font-size: 12px;
					.list-inline > li { 
						> a,
						> div > a,
						> form > a{
							cursor: pointer;
							text-decoration: none;
							padding: 13px 0px;
							display: inline-block;
							color: #888;
	    					text-shadow: 0 1px 0 #FFF;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
				.list-inline{
					margin-bottom: 0px;
				}
				.title{
					color: #fff;
				}
				.language{
					img{
						vertical-align: baseline;
					}
				}
			}
		}
	}
	.header-center{
		> .wrapper{
			margin-bottom: 10px
		}
	}
	.header-bottom{
		> .wrapper{
			margin-bottom: 20px
		}
	}
}
