.custom-control
  display: flex
  margin-bottom: rem(10)
  input
    display: none
  &:before
    content: " "
    margin-right: rem(10)
    display: block
    width: 20px
    height: 20px
    border: $radioBorderColor 1px solid
