input.field,
.vd input.form-control,
.form-control,
textarea
  @extend %field

.field,
.vd input.form-control,
.form-control
  height: $fieldHeightBase
  &:focus
    border-color: $borderColorFocus

select.field
  padding-right: 30px

.vd
  .block-container
    width: 100%
  .search-field
    .block-content
      +flex
      justify-content: flex-end
    #search
      max-width: 337px
      width: 100%
    .form-control
      border: none
      padding: 7px 0
      border-bottom: 1px solid #d2d2d2
      +box-shadow(none)
      &:focus
        border-bottom-color: #aba2a2
    .input-group-btn
      position: absolute
      width: auto
      right: 8px

.field-label
  font-size: fz(13px)

.radio-container,
.checkbox-container
  input
    opacity: 0

  label
    cursor: pointer

.custom-input
  display: inline-block