.form-control ,.field{
  border: $borderMain;
  border-radius: 0;
  padding:rem(22) rem(20);
  font-size:$fontSizeInput;
  &:focus{
    border: $borderMain;
    border-color: $borderColorFocus;
    box-shadow: none;
    background-color: $FormBackFocus;
  }
  &.active{
    background: $FormBackActive;
    border-color: $borderColorActive;
  }
}
.form-group{
  &.error{
    .form-control,.field{
      border: $borderMain;
      border-color: $borderColorError;
      background: $FormBackError;
    }
    span{
      color: $p_red;
    }
  }
}
select.form-control{
  padding: 0 rem(20);
}

.form-horizontal .form-group{
  margin:0;
}