.vz-edit-iframe,.vz-edit-iframe iframe{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  @media screen and(max-width: 768px){
    padding-left: 20px;
    width: calc(100%);
  }
}
body,html{
  overflow: auto !important;
}