.breadcrumb
  background: none
  padding: 0
  font-size: fz(13px)
  margin-bottom: rem(75px)
  +border-radius(0)
  > li + li:before
    color: $p-black
  a
    color: $p_black
    +transition
    &:hover
      color: $colorMain