<!-- > d_address_field -->
<div class="form-group">
    <label class="{% if form %}col-sm-2{% endif %} field-label label-right-md" for="input-company"><span>{{ entry_company }}</span></label>
    <div class="{% if form %}col-sm-10{% endif %}">
        <input type="text" name="company" value="{{ company }}" id="input-company"
               class="field"/>
    </div>
</div>
{% if entry_website %}
    <div class="form-group">
        <label class="{% if form %}col-sm-2{% endif %} field-label label-right-md" for="input-website"><span>{{ entry_website }}</span></label>
        <div class="{% if form %}col-sm-10{% endif %}">
            <input type="text" name="website" value="{{ website }}" id="input-website"
                   class="field"/>
        </div>
    </div>
{% endif %}

<!-- /> d_address_field -->
