{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div class="address-page">
        <h1 class="heading-h1">{{ text_address_book }}</h1>
        {% if addresses %}
            <table class="table table-bordered table-hover desk">
                {% for address in addresses %}
                    <tr>
                        <td class="text-left">{{ address.address }}</td>
                        <td class="text-right">
                            {% include component.button.template with {button:{
                                link:address.update,
                                style:'warning',
                                text_button:button_edit
                            }} %}
                            {% include component.button.template with {button:{
                                link:address.delete,
                                style:'danger',
                                text_button:button_delete
                            }} %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{{ text_empty }}</p>
        {% endif %}
        {% include component.d_button_continue.template with component.d_button_continue|merge({
            continue:add,
            button_continue:button_new_address,
            button_submit:''
        }) %}

    </div>
{% endblock %}