{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_your_details}}</legend>
          {% include 'd_visualize/template/partial/d_account_field.twig' with {form:'inline'} %}
          {% for custom_field in custom_fields %}
            {% if custom_field.location == 'account' %}
              {% include 'd_visualize/template/partial/d_custom_field.twig' with {form:'inline'} %}
            {% endif %}
          {% endfor %}
        </fieldset>
        {% include 'd_visualize/template/partial/d_button_submit.twig' %}
      </form>
<script type="text/javascript"><!--
$(function(){
    d_custom_field.init();
})
//--></script>
{% endblock %}
