{#it's mean in layout template#}
{% extends template %}

{% block content %}

      <h1 class="heading-h1">{{heading_title}}</h1>
      <p>{{text_email}}</p>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_your_email}}</legend>
            {% include partial.form_group.template with partial.form_group|merge({
            type:'email',
            id:'input-email',
            name:'email',
            value:email,
            placeholder:entry_email,
            classes:'',
            text_input:entry_email,
            }) %}
        </fieldset>
          {% include partial.d_button_continue.template with partial.d_button_continue %}
      </form>
{% endblock %}