{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>

            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_newsletter ,
                    error:error_newsletter,
                    form:'inline',
                    type:'radio',
                    input:{
                        type:'radio',
                        name:'newsletter',
                        value: newsletter,
                        checked: newsletter,
                        text_input:entry_newsletter ,
                        values: [{ 'value':1,'text': text_yes},{'value':0,'text':text_no}],
                    }
                }
            } %}

        </fieldset>

        {% include component.d_button_continue.template %}
    </form>
{% endblock %}