{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            {% include component.form_group.template with component.form_group|merge({
            type:'radio',
            id:'input-newsletter',
            name:'newsletter',
            required: true,
            radio_values: [{ 'val':1,'name': text_yes},{'val':0,'name':text_no}],
            radio_values_val:'val',
            radio_values_check: newsletter,
            radio_values_name: 'name',
            placeholder:entry_newslatter,
            classes:'',
            text_input:entry_newsletter,
            error:error_newslatter,
            }) %}
        </fieldset>

        {% include component.d_button_continue.template with component.d_button_continue %}
    </form>
{% endblock %}