{#it's mean in layout template#}
{% extends template %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_password}}</legend>
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_password ,
                    error:error_password,
                    input:{
                        type:'password',
                        id:'input-password',
                        name:'password',
                        value:password,
                        placeholder:entry_password ,
                    }
                }
            } %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_confirm ,
                    error:error_confirm,
                    input:{
                        type:'password',
                        id:'input-confirm',
                        name:'confirm',
                        value:confirm,
                        placeholder:entry_confirm ,
                    }
                }
            } %}
        </fieldset>
          {% include component.d_button_continue.template %}
      </form>
{% endblock %}