{#it's mean in layout template#}
{% extends template %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_password}}</legend>
            {% include partial.form_group.template with partial.form_group|merge({
            type:'password',
            id:'input-password',
            name:'password',
            value:password,
            placeholder:entry_password,
            classes:'',
            text_input:entry_password,
            }) %}
            {% include partial.form_group.template with partial.form_group|merge({
            type:'password',
            id:'input-confirm',
            name:'confirm',
            value:password,
            placeholder:entry_confirm,
            classes:'',
            text_input:entry_confirm,
            }) %}

        </fieldset>
          {% include partial.d_button_continue.template with partial.d_button_continue %}
      </form>
{% endblock %}