{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <p>{{ text_description }}</p>
    <form class="form-horizontal">
        {% include partial.form_group.template with partial.form_group|merge({
        type:'textarea',
        id:'input-code',
        value:code,
        text_input:entry_code ,
        placeholder:entry_code ,
        }) %}
        {% include partial.form_group.template with partial.form_group|merge({
        type:'text',
        id:'input-generator',
        name:'product',
        value:generator,
        text_input:entry_generator ,
        placeholder:entry_generator ,
        }) %}
        {% include partial.form_group.template with partial.form_group|merge({
        type:'textarea',
        id:'input-link',
        name:'link',
        text_input:entry_link ,
        placeholder:entry_link ,
        }) %}
    </form>

    {% include partial.d_button_continue.template with partial.d_button_continue %}
    <script type="text/javascript"><!--
		$('input[name=\'product\']').autocomplete({
			'source': function (request, response) {
				$.ajax({
					url: 'index.php?route=account/tracking/autocomplete&filter_name=' + encodeURIComponent(request) + '&tracking=' + encodeURIComponent($('#input-code').val()),
					dataType: 'json',
					success: function (json) {
						response($.map(json, function (item) {
							return {
								label: item['name'],
								value: item['link']
							};
						}));
					}
				});
			},
			'select': function (item) {
				$('input[name=\'product\']').val(item['label']);
				$('textarea[name=\'link\']').val(item['value']);
			}
		});
		//--></script>
{% endblock %}