{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <p>{{ text_description }}</p>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_to_name ,
                required:true,
                error:error_to_name,
                input:{
                    type:'text',
                    id:'input-to-name',
                    name:'to_name',
                    value:to_name,
                }
            }
        } %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_from_name ,
                required:true,
                error:error_from_name,
                input:{
                    type:'text',
                    id:'input-from-name',
                    name:'from_name',
                    value:from_name,
                }
            }
        } %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_to_email ,
                required:true,
                error:error_to_email,
                input:{
                    type:'text',
                    id:'input-to-email',
                    name:'to_email',
                    value:to_email,
                }
            }
        } %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_from_email ,
                required:true,
                error:error_from_email,
                input:{
                    type:'text',
                    id:'input-from-email',
                    name:'from_email',
                    value:from_email,
                }
            }
        } %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_theme,
                required:true,
                error:error_theme,
                type:'radio',
                input:{
                    type:'radio',
                    form:'block',
                    name:'voucher_theme_id',
                    value: 'voucher_theme_id',
                    text: 'name',
                    image: 'none',
                    checked: voucher_theme_id,
                    values: voucher_themes,
                }
            }
        } %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_message ,
                hint:help_message,
                input:{
                    type:'textarea',
                    id:'input-message',
                    name:'message',
                    value:message,
                    cols:"40",
                    rows:"5"
                }
            }
        } %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_amount ,
                hint:help_amount,
                input:{
                    type:'text',
                    id:'input-amount',
                    name:'amount',
                    value:amount,
                }
            }
        } %}
        {% include component.d_button_continue.template  %}
    </form>
{% endblock %}