<div class="rating">
    <input value="{{ rating }}" name="rating" class="rating-loading">
</div>
<script>
	$(document).on('ready', function(){
		$('.rating-loading').rating({
			step: 1,
			filled: 'fas fa-star',
			empty: 'fas empty fa-star'
		});
	});
</script>