<div class="vz-rating vz-rating--default">
	<input value="{{ rating }}" name="rating" hidden
		   class="vz-rating__input rating-loading" data-filled="fas fa-star" data-empty="far fa-star empty"
            {% if static_rating %} data-readonly{% endif %}>
</div>
<script>
$(document).ready(function () {
	$('.vz-rating__input').rating();
})

</script>