<!-- > d_rating -->
<div data-rating="{{rating}}" class="rating rating-{{rating}}">
    {% for rating in [1,2,3,4,5] %}
        {% if product.rating < rating %}
			<span class="fa-stack"><i class="fas empty fa-star"></i></span>
        {% else %}
			<span class="fa-stack"><i class="fas fa-star"></i><i class="fas empty fa-star"></i></span>
        {% endif %}
    {% endfor %}
</div>
<!-- /> d_rating -->