%field
  border: $borderMain
  padding: 5px 10px
  height: 55px
  width: 100%
  outline: none
  background: #fff
  margin-top: 0
  +border-radius(0)
  +transition
  &:focus
    +box-shadow('none')
    border-color: #7a93cc