.login-page {
    .heading-subtitle {
        display: block;
        font-family: $fontSecondary;
        font-size: fz(22px);
        font-weight: $fontMedium;
        margin-bottom: rem(10px);
    }
}