.newsletter-section
  &_heading p:first-of-type
    text-transform: uppercase

  [data-is="vd-block-mailchimp"] .vd-mailchimp .form-inline
    +flex
    .form-group
      margin: 0
    .form-control
      +placeholder
        color: #fff !important
    .vd-mailchimp-submit
      text-transform: uppercase
      font-weight: $fontBold
      +transition