<!-- > d_button_continue -->
<div class="buttons">
	<div class="vis-forward">
		{% include partial.button.template with partial.button|merge({
		link:continue ,
		style:'primary',
		classes:'btn-shrink btn-block-sm',
		text_button:button_continue,
		}) %}
</div>
<!-- /> d_button_continue -->
