<!-- > d_button-continue -->
<div class="vz-button-continue vz-button-continue--default">
    {% if back %}
        <div class="vz-button-continue__back">
            {% include partial.button.template with partial.button|merge({
                link:back ,
                style:'default',
                text_button:button_back,
            }) %}
        </div>
    {% endif %}
    <div class="vz-button-continue__forward">
        {% if text_agree %}
            <div class="vz-button-continue__forward__agree">
            <span>
              {{ text_agree }}
            </span>
                {% include partial.input.template with partial.input|merge({
                    type:'checkbox',
                    name:'agree',
                    value:'1',
                    checked:agree,
                }) %}
            </div>
        {% endif %}

        {% if continue %}
            {% include partial.button.template with partial.button|merge({
                link:continue ,
                style:'primary',
                text_button:button_continue,
            }) %}
        {% elseif button %}
            {% include partial.button.template with partial.button|merge({
                button:true ,
                id:id,
                text_loading:text_loading,
                style:'primary',
                text_button:button_continue,
            }) %}
        {% elseif button_submit %}
            {% include partial.input.template with partial.input|merge({
                type:'submit',
                style:'primary',
                value:button_continue,
                button:'primary',
            }) %}
        {% endif %}
    </div>
</div>
<!-- /> d_button-continue -->
