{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{# only for devs #}
<script>
	window.addEventListener('message', function(event) {
		if (event.data.vz_token){
			var route = $('#content').data('route');
			var location = this.location.href;
			// IMPORTANT: Check the origin of the data!
			if (~event.origin.indexOf('http://localhost:3000')) {
				parent.postMessage({vz_ifame_data: {route: route, location: location}}, "*");
			} else {
				return;
			}
		}
	});
</script>
</body></html>