		<footer class="footer">
			<div class="wrapper">
				<div class="container">
					{{d_mega_footer}}
				</div>
			</div>
		</footer>
				{% for script in scripts %}
				<script src="{{script}}"></script>
				{% endfor %}
    </body>
</html>
