{#it's mean in layout template#}
{% extends template %}

{% block content %}
      <div class="h1">{{heading_title}}</div>
      {{text_message}}
      {% include 'd_visualize/template/partial/d_button_continue.twig' %}
{% endblock %}
