{#it's mean in layout template#}
{% extends template %}

{% block content %}
      <div class="h1">{{heading_title}}</div>
      {{text_message}}
      {% include partial.d_button_continue.template with partial.d_button_continue %}
{% endblock %}
