<h5>Чтобы выглядеть на миллион, больше не нужно ходить по магазинам в поиске необходимой косметики и парфюмерии. Время –
    деньги, а это значит его нужно тратить с умом. Больше не нужно ходить по магазинам в поиске необходимой
    косметики...</h5>
<h4>Март — подходящий месяц, чтобы избавиться от надоевшего коврика для ванной или старого полотенца. Если тратиться на
    новые совсем не хочется, можно по крайней мере поставить на видное место зубную пасту в яркой упаковке или
    обзавестись новым ароматизатором со свежим ароматом.</h4>
<h3>Зарегистрированный клиент</h3>
<h2>Босоножки KS-958-7</h2>
<h1>Спортивная обувь</h1>
<div class="form-group">
    <input type="email" class="form-control" placeholder="name@example.com">
</div>
<div class="form-group">
    <input type="email" class="form-control">
</div>
<div class="form-group">
    <input type="text" class="form-control" value="Валерия">
</div>
<div class="form-group">
    <input type="text" class="form-control active" value="Валерия">
</div>
<div class="form-group error">
    <input type="text" class="form-control active" value="Валерия">
    <span class="error_message">Это поле обязательно для заполнения. </span>
</div>
<ul class="pagination"><li class="active"><span>1</span></li><li><a href="//localhost:3000/302/d_visualize/index.php?route=product/category&amp;path=20&amp;page=2">2</a></li><li><a href="//localhost:3000/302/d_visualize/index.php?route=product/category&amp;path=20&amp;page=2">&gt;</a></li><li><a href="//localhost:3000/302/d_visualize/index.php?route=product/category&amp;path=20&amp;page=2">&gt;|</a></li></ul>

<div class="custom-control custom-radio">
    <input type="radio"  name="customRadio" class="custom-control-input" checked="checked">
    <label class="custom-control-label" for="customRadio1">Новая почта</label>
</div>
<div class="custom-control custom-radio">
    <input type="radio"  name="customRadio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio2">Укрпочта</label>
</div>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" checked="checked">
    <label class="custom-control-label" for="customCheck1">Туфли</label>
</div>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" >
    <label class="custom-control-label" for="customCheck1">Босоножки</label>
</div>
<p><b>Гарантии</b></p>
<ul>
    <li>Женская обувь</li>
    <li class="active">Мужская обувь</li>
    <li>Детская обувь</li>
    <li>Одежда</li>
    <li>Аксессуары</li>
    <li>Уход</li>
</ul>

<button type="button" class="btn btn-primary">Оформить заказ</button>
<button type="button" class="btn btn-secondary">Оформить заказ</button>

{#<button type="button" class="btn btn-success">Оформить заказ</button>#}
{#<button type="button" class="btn btn-danger">Оформить заказ</button>#}
{#<button type="button" class="btn btn-warning">Оформить заказ</button>#}
{#<button type="button" class="btn btn-info">Оформить заказ</button>#}
{#<button type="button" class="btn btn-light">Оформить заказ</button>#}
{#<button type="button" class="btn btn-dark">Оформить заказ</button>#}

{#<button type="button" class="btn btn-link">Оформить заказ</button>#}