  .vz-button {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 4px;
    &.btn-primary {
      background: var(--color-primary);
      border: var(--border-primary);
      border-color: var(--color-primary-darken);
      &:hover {
        background: var(--color-primary-darken);
        border-color: var(--color-primary-darkenx3);
      }
      &:focus:active {
        background: var(--color-primary-darkenx2);
        border-color: var(--color-primary-darkenx3);
        outline: none;
      }
    }
    &.btn-success {
      background: var(--color-success);
      border: var(--border-success);
      border-color: var(--color-success-darken);
      &:hover {
        background: var(--color-success-darken);
        border-color: var(--color-success-darkenx3);
      }
      &:focus:active {
        background: var(--color-success-darkenx2);
        border-color: var(--color-success-darkenx3);
        outline: none;
      }
    }

  }
